<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="/img/forecast-icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="main-content">
        {{>header}}
        <p>This site created by Belly Brata. <br>It uses data from <a href="http://www.mapbox.com" target="_blank">mapbox.com</a> and <a href="http://www.weatherstack.com" target="_blank">weatherstack.com</a></p>
        <img class="about-img" src="/img/S__62586882.jpg">
    </section>
    {{>footer}}
</body>
</html>