<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="/img/forecast-icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="main-content">
        {{>header}}
        <p>Use this site to get your weather.</p>
        <form action="#">
            <input type="text" placeholder="Location">
            <button type="submit">Search</button> | <button type="button" class="btn-current-loc" onClick="getLocation()">Current Location</button>
        </form>
        <p id="mes-1"></p>
        <p id="mes-2"></p>
    </section>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>